# server/.gitignore

# Ignore node_modules directory
node_modules/

# Ignore compiled files
dist/

# Ignore environment variables file
.env

# Ignore log files
*.log
key.json
# Specifically ignore package-lock.json in server node_modules directory
node_modules/.package-lock.json
